{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Outscale",
    "description" : "Welcome to the OUTSCALE API documentation.<br /><br />\n\nThe OUTSCALE API enables you to manage your resources in the OUTSCALE Cloud. This documentation describes the different actions available along with code examples.<br /><br />\n\nNote that the OUTSCALE Cloud is compatible with Amazon Web Services (AWS) APIs, but some resources have different names in AWS than in the OUTSCALE API. You can find a list of the differences [here](https://wiki.outscale.net/display/EN/3DS+OUTSCALE+APIs+Reference).<br /><br />\n\nYou can also manage your resources using the [Cockpit](https://wiki.outscale.net/display/EN/About+Cockpit) web interface.",
    "termsOfService" : "https://en.outscale.com/terms-of-service/",
    "contact" : {
      "email" : "support@outscale.com"
    },
    "license" : {
      "name" : "BSD 3 Clause",
      "url" : "https://opensource.org/licenses/BSD-3-Clause"
    },
    "version" : "1.15"
  },
  "servers" : [ {
    "url" : "https://api-env.demo.axway.com:8065/api/v1"
  } ],
  "paths" : {
    "/ReadLocations" : {
      "post" : {
        "tags" : [ "Location" ],
        "operationId" : "ReadLocations",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    },
                    "Locations" : {
                      "type" : "array",
                      "description" : "Information about one or more locations.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Code" : {
                            "type" : "string",
                            "description" : "The location code, to be set as the `Location` parameter of the *CreateDirectLink* method when creating a DirectLink."
                          },
                          "Name" : {
                            "type" : "string",
                            "description" : "The name and description of the location, corresponding to a datacenter."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the DirectLink location."
                      }
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/ReadVpnConnections" : {
      "post" : {
        "tags" : [ "VpnConnection" ],
        "operationId" : "ReadVpnConnections",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Filters" : {
                    "type" : "object",
                    "properties" : {
                      "States" : {
                        "type" : "array",
                        "description" : "The states of the VPN connections (`pending` \\| `available` \\| `deleting` \\| `deleted`).",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "ConnectionTypes" : {
                        "type" : "array",
                        "description" : "The types of the VPN connections (only `ipsec.1` is supported).",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "VpnConnectionIds" : {
                        "type" : "array",
                        "description" : "The IDs of the VPN connections.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "RouteDestinationIpRanges" : {
                        "type" : "array",
                        "description" : "The destination IP ranges.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "ClientGatewayIds" : {
                        "type" : "array",
                        "description" : "The IDs of the client gateways.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "BgpAsns" : {
                        "type" : "array",
                        "description" : "The Border Gateway Protocol (BGP) Autonomous System Numbers (ASNs) of the connections.",
                        "items" : {
                          "type" : "integer"
                        }
                      },
                      "StaticRoutesOnly" : {
                        "type" : "boolean",
                        "description" : "If false, the VPN connection uses dynamic routing with Border Gateway Protocol (BGP). If true, routing is controlled using static routes. For more information about how to create and delete static routes, see [CreateVpnConnectionRoute](#createvpnconnectionroute) and [DeleteVpnConnectionRoute](#deletevpnconnectionroute)."
                      },
                      "Tags" : {
                        "type" : "array",
                        "description" : "The key/value combination of the tags associated with the VPN connections, in the following format: &quot;Filters&quot;:{&quot;Tags&quot;:[&quot;TAGKEY=TAGVALUE&quot;]}.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "TagValues" : {
                        "type" : "array",
                        "description" : "The values of the tags associated with the VPN connections.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "TagKeys" : {
                        "type" : "array",
                        "description" : "The keys of the tags associated with the VPN connections.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "VirtualGatewayIds" : {
                        "type" : "array",
                        "description" : "The IDs of the virtual gateways.",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "additionalProperties" : false,
                    "description" : "One or more filters."
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    },
                    "VpnConnections" : {
                      "type" : "array",
                      "description" : "Information about one or more VPN connections.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "ConnectionType" : {
                            "type" : "string",
                            "description" : "The type of VPN connection (always `ipsec.1`)."
                          },
                          "ClientGatewayId" : {
                            "type" : "string",
                            "description" : "The ID of the client gateway used on the client end of the connection."
                          },
                          "VpnOptions" : {
                            "type" : "object",
                            "properties" : {
                              "Phase1Options" : {
                                "type" : "object",
                                "properties" : {
                                  "DpdTimeoutSeconds" : {
                                    "type" : "integer",
                                    "description" : "The maximum waiting time for a Dead Peer Detection (DPD) response before considering the peer as dead, in seconds."
                                  },
                                  "StartupAction" : {
                                    "type" : "string",
                                    "description" : "The action to carry out when establishing tunnels for a VPN connection."
                                  },
                                  "Phase1IntegrityAlgorithms" : {
                                    "type" : "array",
                                    "description" : "The integrity algorithms allowed for the VPN tunnel for phase 1.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "Phase1LifetimeSeconds" : {
                                    "type" : "integer",
                                    "description" : "The lifetime for phase 1 of the IKE negotiation process, in seconds."
                                  },
                                  "Phase1EncryptionAlgorithms" : {
                                    "type" : "array",
                                    "description" : "The encryption algorithms allowed for the VPN tunnel for phase 1.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "ReplayWindowSize" : {
                                    "type" : "integer",
                                    "description" : "The number of packets in an IKE replay window."
                                  },
                                  "DpdTimeoutAction" : {
                                    "type" : "string",
                                    "description" : "The action to carry out after a Dead Peer Detection (DPD) timeout occurs."
                                  },
                                  "Phase1DhGroupNumbers" : {
                                    "type" : "array",
                                    "description" : "The Diffie-Hellman (DH) group numbers allowed for the VPN tunnel for phase 1.",
                                    "items" : {
                                      "type" : "integer"
                                    }
                                  },
                                  "IkeVersions" : {
                                    "type" : "array",
                                    "description" : "The Internet Key Exchange (IKE) versions allowed for the VPN tunnel.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  }
                                },
                                "additionalProperties" : false,
                                "description" : "Information about Phase 1 of the Internet Key Exchange (IKE) negotiation. When Phase 1 finishes successfully, peers proceed to Phase 2 negotiations. "
                              },
                              "TunnelInsideIpRange" : {
                                "type" : "string",
                                "description" : "The IP range for the tunnel in your VPN connection."
                              },
                              "Phase2Options" : {
                                "type" : "object",
                                "properties" : {
                                  "Phase2EncryptionAlgorithms" : {
                                    "type" : "array",
                                    "description" : "The encryption algorithms allowed for the VPN tunnel for phase 2.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "Phase2DhGroupNumbers" : {
                                    "type" : "array",
                                    "description" : "The Diffie-Hellman (DH) group numbers allowed for the VPN tunnel for phase 2.",
                                    "items" : {
                                      "type" : "integer"
                                    }
                                  },
                                  "Phase2LifetimeSeconds" : {
                                    "type" : "integer",
                                    "description" : "The lifetime for phase 2 of the Internet Key Exchange (IKE) negociation process, in seconds."
                                  },
                                  "Phase2IntegrityAlgorithms" : {
                                    "type" : "array",
                                    "description" : "The integrity algorithms allowed for the VPN tunnel for phase 2.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "PreSharedKey" : {
                                    "type" : "string",
                                    "description" : "The pre-shared key to establish the initial authentication between the client gateway and the virtual gateway."
                                  }
                                },
                                "additionalProperties" : false,
                                "description" : "Information about Phase 2 of the Internet Key Exchange (IKE) negotiation. "
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "Information about the VPN options."
                          },
                          "State" : {
                            "type" : "string",
                            "description" : "The state of the VPN connection (`pending` \\| `available` \\| `deleting` \\| `deleted`)."
                          },
                          "ClientGatewayConfiguration" : {
                            "type" : "string",
                            "description" : "Example configuration for the client gateway."
                          },
                          "Routes" : {
                            "type" : "array",
                            "description" : "Information about one or more static routes associated with the VPN connection, if any.",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "RouteType" : {
                                  "type" : "string",
                                  "description" : "The type of route (always `static`)."
                                },
                                "State" : {
                                  "type" : "string",
                                  "description" : "The current state of the static route (`pending` \\| `available` \\| `deleting` \\| `deleted`)."
                                },
                                "DestinationIpRange" : {
                                  "type" : "string",
                                  "description" : "The IP range used for the destination match, in CIDR notation (for example, 10.0.0.0/24)."
                                }
                              },
                              "additionalProperties" : false,
                              "description" : "Information about the route."
                            }
                          },
                          "VpnConnectionId" : {
                            "type" : "string",
                            "description" : "The ID of the VPN connection."
                          },
                          "StaticRoutesOnly" : {
                            "type" : "boolean",
                            "description" : "If false, the VPN connection uses dynamic routing with Border Gateway Protocol (BGP). If true, routing is controlled using static routes. For more information about how to create and delete static routes, see [CreateVpnConnectionRoute](#createvpnconnectionroute) and [DeleteVpnConnectionRoute](#deletevpnconnectionroute)."
                          },
                          "VirtualGatewayId" : {
                            "type" : "string",
                            "description" : "The ID of the virtual gateway used on the OUTSCALE end of the connection."
                          },
                          "Tags" : {
                            "type" : "array",
                            "description" : "One or more tags associated with the VPN connection.",
                            "items" : {
                              "required" : [ "Key", "Value" ],
                              "type" : "object",
                              "properties" : {
                                "Value" : {
                                  "type" : "string",
                                  "description" : "The value of the tag, between 0 and 255 characters."
                                },
                                "Key" : {
                                  "type" : "string",
                                  "description" : "The key of the tag, with a minimum of 1 character."
                                }
                              },
                              "additionalProperties" : false,
                              "description" : "Information about the tag."
                            }
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about a VPN connection."
                      }
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/UnlinkPublicIp" : {
      "post" : {
        "tags" : [ "PublicIp" ],
        "operationId" : "UnlinkPublicIp",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "PublicIp" : {
                    "type" : "string",
                    "description" : "The EIP. This parameter is required unless you use the `LinkPublicIpId` parameter."
                  },
                  "LinkPublicIpId" : {
                    "type" : "string",
                    "description" : "The ID representing the association of the EIP with the VM or the NIC. This parameter is required unless you use the `PublicIp` parameter."
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "400" : {
            "description" : "The HTTP 400 response (Bad Request).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "401" : {
            "description" : "The HTTP 401 response (Unauthorized).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "500" : {
            "description" : "The HTTP 500 response (Internal Server Error).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/ReadVolumes" : {
      "post" : {
        "tags" : [ "Volume" ],
        "operationId" : "ReadVolumes",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Filters" : {
                    "type" : "object",
                    "properties" : {
                      "VolumeSizes" : {
                        "type" : "array",
                        "description" : "The sizes of the volumes, in gibibytes (GiB).",
                        "items" : {
                          "type" : "integer"
                        }
                      },
                      "CreationDates" : {
                        "type" : "array",
                        "description" : "The dates and times at which the volumes were created.",
                        "items" : {
                          "type" : "string",
                          "format" : "date"
                        }
                      },
                      "LinkVolumeDeleteOnVmDeletion" : {
                        "type" : "boolean",
                        "description" : "Whether the volumes are deleted or not when terminating the VMs."
                      },
                      "LinkVolumeVmIds" : {
                        "type" : "array",
                        "description" : "One or more IDs of VMs.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "VolumeIds" : {
                        "type" : "array",
                        "description" : "The IDs of the volumes.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "SnapshotIds" : {
                        "type" : "array",
                        "description" : "The snapshots from which the volumes were created.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "LinkVolumeDeviceNames" : {
                        "type" : "array",
                        "description" : "The VM device names.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "TagValues" : {
                        "type" : "array",
                        "description" : "The values of the tags associated with the volumes.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "TagKeys" : {
                        "type" : "array",
                        "description" : "The keys of the tags associated with the volumes.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "LinkVolumeLinkStates" : {
                        "type" : "array",
                        "description" : "The attachment states of the volumes (`attaching` \\| `detaching` \\| `attached` \\| `detached`).",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "VolumeTypes" : {
                        "type" : "array",
                        "description" : "The types of the volumes (`standard` \\| `gp2` \\| `io1`).",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "SubregionNames" : {
                        "type" : "array",
                        "description" : "The names of the Subregions in which the volumes were created.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "LinkVolumeLinkDates" : {
                        "type" : "array",
                        "description" : "The dates and times at which the volumes were created.",
                        "items" : {
                          "type" : "string",
                          "format" : "date"
                        }
                      },
                      "VolumeStates" : {
                        "type" : "array",
                        "description" : "The states of the volumes (`creating` \\| `available` \\| `in-use` \\| `updating` \\| `deleting` \\| `error`).",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "Tags" : {
                        "type" : "array",
                        "description" : "The key/value combination of the tags associated with the volumes, in the following format: &quot;Filters&quot;:{&quot;Tags&quot;:[&quot;TAGKEY=TAGVALUE&quot;]}.",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "additionalProperties" : false,
                    "description" : "One or more filters."
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Volumes" : {
                      "type" : "array",
                      "description" : "Information about one or more volumes.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "SnapshotId" : {
                            "type" : "string",
                            "description" : "The snapshot from which the volume was created."
                          },
                          "VolumeId" : {
                            "type" : "string",
                            "description" : "The ID of the volume."
                          },
                          "VolumeType" : {
                            "type" : "string",
                            "description" : "The type of the volume (`standard` \\| `gp2` \\| `io1`)."
                          },
                          "State" : {
                            "type" : "string",
                            "description" : "The state of the volume (`creating` \\| `available` \\| `in-use` \\| `updating` \\| `deleting` \\| `error`)."
                          },
                          "Size" : {
                            "type" : "integer",
                            "description" : "The size of the volume, in gibibytes (GiB)."
                          },
                          "LinkedVolumes" : {
                            "type" : "array",
                            "description" : "Information about your volume attachment.",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "VolumeId" : {
                                  "type" : "string",
                                  "description" : "The ID of the volume."
                                },
                                "DeleteOnVmDeletion" : {
                                  "type" : "boolean",
                                  "description" : "If true, the volume is deleted when terminating the VM. If false, the volume is not deleted when terminating the VM."
                                },
                                "State" : {
                                  "type" : "string",
                                  "description" : "The state of the attachment of the volume (`attaching` \\| `detaching` \\| `attached` \\| `detached`)."
                                },
                                "VmId" : {
                                  "type" : "string",
                                  "description" : "The ID of the VM."
                                },
                                "DeviceName" : {
                                  "type" : "string",
                                  "description" : "The name of the device."
                                }
                              },
                              "additionalProperties" : false,
                              "description" : "Information about volume attachment."
                            }
                          },
                          "Iops" : {
                            "type" : "integer",
                            "description" : "The number of I/O operations per second (IOPS):<br />\n- For `io1` volumes, the number of provisioned IOPS<br />\n- For `gp2` volumes, the baseline performance of the volume"
                          },
                          "Tags" : {
                            "type" : "array",
                            "description" : "One or more tags associated with the volume.",
                            "items" : {
                              "required" : [ "Key", "Value" ],
                              "type" : "object",
                              "properties" : {
                                "Value" : {
                                  "type" : "string",
                                  "description" : "The value of the tag, between 0 and 255 characters."
                                },
                                "Key" : {
                                  "type" : "string",
                                  "description" : "The key of the tag, with a minimum of 1 character."
                                }
                              },
                              "additionalProperties" : false,
                              "description" : "Information about the tag."
                            }
                          },
                          "SubregionName" : {
                            "type" : "string",
                            "description" : "The Subregion in which the volume was created."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the volume."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "400" : {
            "description" : "The HTTP 400 response (Bad Request).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "401" : {
            "description" : "The HTTP 401 response (Unauthorized).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "500" : {
            "description" : "The HTTP 500 response (Internal Server Error).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/DeleteNetAccessPoint" : {
      "post" : {
        "tags" : [ "NetAccessPoint" ],
        "operationId" : "DeleteNetAccessPoint",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "NetAccessPointId" ],
                "type" : "object",
                "properties" : {
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  },
                  "NetAccessPointId" : {
                    "type" : "string",
                    "description" : "The ID of the Net access point."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/DeregisterVmsInLoadBalancer" : {
      "post" : {
        "tags" : [ "LoadBalancer" ],
        "operationId" : "DeregisterVmsInLoadBalancer",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "BackendVmIds", "LoadBalancerName" ],
                "type" : "object",
                "properties" : {
                  "LoadBalancerName" : {
                    "type" : "string",
                    "description" : "The name of the load balancer."
                  },
                  "BackendVmIds" : {
                    "type" : "array",
                    "description" : "One or more IDs of back-end VMs.",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/ReadCas" : {
      "post" : {
        "tags" : [ "Ca" ],
        "operationId" : "ReadCas",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Filters" : {
                    "type" : "object",
                    "properties" : {
                      "Descriptions" : {
                        "type" : "array",
                        "description" : "The descriptions of the CAs.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "CaFingerprints" : {
                        "type" : "array",
                        "description" : "The fingerprints of the CAs.",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "CaIds" : {
                        "type" : "array",
                        "description" : "The IDs of the CAs.",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "additionalProperties" : false,
                    "description" : "One or more filters."
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Cas" : {
                      "type" : "array",
                      "description" : "Information about one or more CAs.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Description" : {
                            "type" : "string",
                            "description" : "The description of the CA."
                          },
                          "CaId" : {
                            "type" : "string",
                            "description" : "The ID of the CA."
                          },
                          "CaFingerprint" : {
                            "type" : "string",
                            "description" : "The fingerprint of the CA."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the Client Certificate Authority (CA)."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/DeleteVms" : {
      "post" : {
        "tags" : [ "Vm" ],
        "operationId" : "DeleteVms",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "VmIds" ],
                "type" : "object",
                "properties" : {
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  },
                  "VmIds" : {
                    "type" : "array",
                    "description" : "One or more IDs of VMs.",
                    "items" : {
                      "type" : "string"
                    }
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    },
                    "Vms" : {
                      "type" : "array",
                      "description" : "Information about one or more terminated VMs.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "CurrentState" : {
                            "type" : "string",
                            "description" : "The current state of the VM (`InService` \\| `OutOfService` \\| `Unknown`)."
                          },
                          "VmId" : {
                            "type" : "string",
                            "description" : "The ID of the VM."
                          },
                          "PreviousState" : {
                            "type" : "string",
                            "description" : "The previous state of the VM (`InService` \\| `OutOfService` \\| `Unknown`)."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the state of the VM."
                      }
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "400" : {
            "description" : "The HTTP 400 response (Bad Request).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "401" : {
            "description" : "The HTTP 401 response (Unauthorized).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "500" : {
            "description" : "The HTTP 500 response (Internal Server Error).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/ReadAccessKeys" : {
      "post" : {
        "tags" : [ "AccessKey" ],
        "operationId" : "ReadAccessKeys",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "Filters" : {
                    "type" : "object",
                    "properties" : {
                      "States" : {
                        "type" : "array",
                        "description" : "The states of the access keys (`ACTIVE` \\| `INACTIVE`).",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "AccessKeyIds" : {
                        "type" : "array",
                        "description" : "The IDs of the access keys.",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "additionalProperties" : false,
                    "description" : "One or more filters."
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "AccessKeys" : {
                      "type" : "array",
                      "description" : "A list of access keys.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "CreationDate" : {
                            "type" : "string",
                            "description" : "The date and time of creation of the access key.",
                            "format" : "datetime"
                          },
                          "ExpirationDate" : {
                            "type" : "string",
                            "description" : "The date at which the access key expires.",
                            "format" : "datetime"
                          },
                          "State" : {
                            "type" : "string",
                            "description" : "The state of the access key (`ACTIVE` if the key is valid for API calls, or `INACTIVE` if not)."
                          },
                          "AccessKeyId" : {
                            "type" : "string",
                            "description" : "The ID of the access key."
                          },
                          "LastModificationDate" : {
                            "type" : "string",
                            "description" : "The date and time of the last modification of the access key.",
                            "format" : "datetime"
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the access key."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/UpdateRoute" : {
      "post" : {
        "tags" : [ "Route" ],
        "operationId" : "UpdateRoute",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "DestinationIpRange", "RouteTableId" ],
                "type" : "object",
                "properties" : {
                  "NatServiceId" : {
                    "type" : "string",
                    "description" : "The ID of a NAT service."
                  },
                  "RouteTableId" : {
                    "type" : "string",
                    "description" : "The ID of the route table."
                  },
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  },
                  "DestinationIpRange" : {
                    "type" : "string",
                    "description" : "The IP range used for the destination match, in CIDR notation (for example, 10.0.0.0/24)."
                  },
                  "VmId" : {
                    "type" : "string",
                    "description" : "The ID of a NAT VM in your Net."
                  },
                  "NetPeeringId" : {
                    "type" : "string",
                    "description" : "The ID of a Net peering connection."
                  },
                  "GatewayId" : {
                    "type" : "string",
                    "description" : "The ID of an Internet service or virtual gateway attached to your Net."
                  },
                  "NicId" : {
                    "type" : "string",
                    "description" : "The ID of a network interface card (NIC)."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "RouteTable" : {
                      "type" : "object",
                      "properties" : {
                        "NetId" : {
                          "type" : "string",
                          "description" : "The ID of the Net for the route table."
                        },
                        "RouteTableId" : {
                          "type" : "string",
                          "description" : "The ID of the route table."
                        },
                        "RoutePropagatingVirtualGateways" : {
                          "type" : "array",
                          "description" : "Information about virtual gateways propagating routes.",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "VirtualGatewayId" : {
                                "type" : "string",
                                "description" : "The ID of the virtual gateway."
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "Information about the route propagating virtual gateway."
                          }
                        },
                        "LinkRouteTables" : {
                          "type" : "array",
                          "description" : "One or more associations between the route table and Subnets.",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "RouteTableId" : {
                                "type" : "string",
                                "description" : "The ID of the route table."
                              },
                              "LinkRouteTableId" : {
                                "type" : "string",
                                "description" : "The ID of the association between the route table and the Subnet."
                              },
                              "SubnetId" : {
                                "type" : "string",
                                "description" : "The ID of the Subnet."
                              },
                              "Main" : {
                                "type" : "boolean",
                                "description" : "If true, the route table is the main one."
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "One or more associations between the route table and the Subnets."
                          }
                        },
                        "Routes" : {
                          "type" : "array",
                          "description" : "One or more routes in the route table.",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "NatServiceId" : {
                                "type" : "string",
                                "description" : "The ID of a NAT service attached to the Net."
                              },
                              "VmAccountId" : {
                                "type" : "string",
                                "description" : "The account ID of the owner of the VM."
                              },
                              "State" : {
                                "type" : "string",
                                "description" : "The state of a route in the route table (`active` \\| `blackhole`). The `blackhole` state indicates that the target of the route is not available."
                              },
                              "CreationMethod" : {
                                "type" : "string",
                                "description" : "The method used to create the route."
                              },
                              "DestinationIpRange" : {
                                "type" : "string",
                                "description" : "The IP range used for the destination match, in CIDR notation (for example, 10.0.0.0/24)."
                              },
                              "VmId" : {
                                "type" : "string",
                                "description" : "The ID of a VM specified in a route in the table."
                              },
                              "NetPeeringId" : {
                                "type" : "string",
                                "description" : "The ID of the Net peering connection."
                              },
                              "NetAccessPointId" : {
                                "type" : "string",
                                "description" : "The ID of the Net access point."
                              },
                              "GatewayId" : {
                                "type" : "string",
                                "description" : "The ID of the Internet service or virtual gateway attached to the Net."
                              },
                              "DestinationServiceId" : {
                                "type" : "string",
                                "description" : "The ID of the OUTSCALE service."
                              },
                              "NicId" : {
                                "type" : "string",
                                "description" : "The ID of the NIC."
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "Information about the route."
                          }
                        },
                        "Tags" : {
                          "type" : "array",
                          "description" : "One or more tags associated with the route table.",
                          "items" : {
                            "required" : [ "Key", "Value" ],
                            "type" : "object",
                            "properties" : {
                              "Value" : {
                                "type" : "string",
                                "description" : "The value of the tag, between 0 and 255 characters."
                              },
                              "Key" : {
                                "type" : "string",
                                "description" : "The key of the tag, with a minimum of 1 character."
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "Information about the tag."
                          }
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the route table."
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "400" : {
            "description" : "The HTTP 400 response (Bad Request).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "401" : {
            "description" : "The HTTP 401 response (Unauthorized).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "500" : {
            "description" : "The HTTP 500 response (Internal Server Error).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/RejectNetPeering" : {
      "post" : {
        "tags" : [ "NetPeering" ],
        "operationId" : "RejectNetPeering",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "NetPeeringId" ],
                "type" : "object",
                "properties" : {
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  },
                  "NetPeeringId" : {
                    "type" : "string",
                    "description" : "The ID of the Net peering connection you want to reject."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "400" : {
            "description" : "The HTTP 400 response (Bad Request).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "401" : {
            "description" : "The HTTP 401 response (Unauthorized).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "409" : {
            "description" : "The HTTP 409 response (Conflict).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "500" : {
            "description" : "The HTTP 500 response (Internal Server Error).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          }
        }
      }
    },
    "/CreatePublicIp" : {
      "post" : {
        "tags" : [ "PublicIp" ],
        "operationId" : "CreatePublicIp",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "DryRun" : {
                    "type" : "boolean",
                    "description" : "If true, checks whether you have the required permissions to perform the action."
                  }
                },
                "additionalProperties" : false
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The HTTP 200 response (OK).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "PublicIp" : {
                      "type" : "object",
                      "properties" : {
                        "NicAccountId" : {
                          "type" : "string",
                          "description" : "The account ID of the owner of the NIC."
                        },
                        "PublicIp" : {
                          "type" : "string",
                          "description" : "The External IP address (EIP) associated with the NAT service."
                        },
                        "PrivateIp" : {
                          "type" : "string",
                          "description" : "The private IP address associated with the EIP."
                        },
                        "LinkPublicIpId" : {
                          "type" : "string",
                          "description" : "(Required in a Net) The ID representing the association of the EIP with the VM or the NIC."
                        },
                        "VmId" : {
                          "type" : "string",
                          "description" : "The ID of the VM the External IP (EIP) is associated with (if any)."
                        },
                        "PublicIpId" : {
                          "type" : "string",
                          "description" : "The allocation ID of the EIP associated with the NAT service."
                        },
                        "Tags" : {
                          "type" : "array",
                          "description" : "One or more tags associated with the EIP.",
                          "items" : {
                            "required" : [ "Key", "Value" ],
                            "type" : "object",
                            "properties" : {
                              "Value" : {
                                "type" : "string",
                                "description" : "The value of the tag, between 0 and 255 characters."
                              },
                              "Key" : {
                                "type" : "string",
                                "description" : "The key of the tag, with a minimum of 1 character."
                              }
                            },
                            "additionalProperties" : false,
                            "description" : "Information about the tag."
                          }
                        },
                        "NicId" : {
                          "type" : "string",
                          "description" : "The ID of the NIC the EIP is associated with (if any)."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the public IP."
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "400" : {
            "description" : "The HTTP 400 response (Bad Request).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "401" : {
            "description" : "The HTTP 401 response (Unauthorized).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
                          "description" : "The ID of the request."
                        }
                      },
                      "additionalProperties" : false,
                      "description" : "Information about the context of the response."
                    }
                  },
                  "additionalProperties" : false
                }
              }
            }
          },
          "500" : {
            "description" : "The HTTP 500 response (Internal Server Error).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "Errors" : {
                      "type" : "array",
                      "description" : "One or more errors.",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "Type" : {
                            "type" : "string",
                            "description" : "The type of the error."
                          },
                          "Details" : {
                            "type" : "string",
                            "description" : "The details of the error."
                          },
                          "Code" : {
                            "type" : "string",
                            "description" : "The code of the error."
                          }
                        },
                        "additionalProperties" : false,
                        "description" : "Information about the errors."
                      }
                    },
                    "ResponseContext" : {
                      "type" : "object",
                      "properties" : {
                        "RequestId" : {
                          "type" : "string",
[...]
