{
  "swagger" : "2.0",
  "info" : {
    "description" : "This B2Bi API enables configuration of communities, partners and exchanges. This enables partner on-boarding and community management.\n",
    "version" : "1.1.0",
    "title" : "B2Bi",
    "contact" : {
      "email" : "support@axway.com"
    },
    "license" : {
      "name" : "Copyright Axway 2017. All rights reserved."
    },
    "x-summary" : "This B2Bi API enables    configuration of communities, partners and exchanges. This enables partner on-boarding and community management."
  },
  "host" : "api-env.demo.axway.com:8065",
  "basePath" : "/api/v1",
  "tags" : [ {
    "name" : "AgreementResource",
    "description" : "Manage agreements and related objects"
  }, {
    "name" : "ApplicationExchangePointResource",
    "description" : "Manage application pickups and deliveries"
  }, {
    "name" : "AuthenticationResource",
    "description" : "Resources used for login and logout operations"
  }, {
    "name" : "CommunityExchangePointResource",
    "description" : "Resources for managing community trading pickups"
  }, {
    "name" : "CommunityResource",
    "description" : "Resources for managing communities"
  }, {
    "name" : "CommunitySecurityResource",
    "description" : "Resources for configuring security on communities"
  }, {
    "name" : "ComponentResource",
    "description" : "Resources for managing components"
  }, {
    "name" : "CrlPurgeResource",
    "description" : "Delete expired CRLs"
  }, {
    "name" : "CsosResource",
    "description" : "Manage CSOS documents"
  }, {
    "name" : "DocumentServiceResource",
    "description" : "Resources for managing services"
  }, {
    "name" : "EmbeddedServerResource",
    "description" : "Manage existing embedded servers"
  }, {
    "name" : "GlobalExternalSmtpServerResource",
    "description" : "Manage global external SMTP server"
  }, {
    "name" : "MessagesResource",
    "description" : "Manage messages attributes"
  }, {
    "name" : "MetadataProfileResource",
    "description" : "Manage metadata profiles"
  }, {
    "name" : "PickupGroupResource",
    "description" : "Manage pickup groups and assignments"
  }, {
    "name" : "TradingPartnerExchangePointResource",
    "description" : "Resources for managing trading partner deliveries"
  }, {
    "name" : "TradingPartnerResource",
    "description" : "Resources for managing trading partners"
  }, {
    "name" : "TradingPartnersSecurityResource",
    "description" : "Manage security on trading partners"
  }, {
    "name" : "UserSecurityResource",
    "description" : "Manage security on trading partners"
  }, {
    "name" : "WebTraderResource",
    "description" : "Manage webtraders"
  } ],
  "schemes" : [ "https" ],
  "security" : [ {
    "API Key" : [ ]
  } ],
  "paths" : {
    "/agreements/{id}/documentAgreements" : {
      "get" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Returns a collection of document agreement objects that are available for a specific agreement.",
        "operationId" : "resource_AgreementResource_getDocumentAgreements_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the agreement. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "A defined filter used for filtering the results. Available values: name, type, version. Example: name='X12Document'",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "Criterion for ordering the results. Optional, available fields: name, type, version. Default: name.",
          "required" : false,
          "type" : "string",
          "default" : "name"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Adds a document agreement to an agreement specified by the unique identifier. A document agreement is a B2Bi\r\nobject that is used to specify how a document type (within a messaging standard and standard version) is to be\r\nhandled in an inbound agreement between exchange partners. A service can be added to define how the document will\r\nbe processed. For a service to be associated to a document agreement some criteria must be met. Example:\r\n<pre>\r\n {\r\n \"@class\": \"X12DocumentAgreement\",\r\n \"enabled\": true,\r\n \"documentFormat\": \"X12\",\r\n \"documentName\": \"002000 810\",\r\n \"type\": \"810\",\r\n \"version\": \"002000\",\r\n \"documentServiceId\": \"12311\"\r\n }\r\n </pre>",
        "operationId" : "resource_AgreementResource_addDocumentAgreement_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the agreement.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Contains the document agreement in the requested format.  <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_DocumentAgreementBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/security/certificate/pgp/{id}" : {
      "get" : {
        "tags" : [ "CommunitySecurityResource" ],
        "description" : "Retrieve personal PGP certificate (public part) with given {id}",
        "operationId" : "resource_CommunitySecurityResource_getPrivatePGPCertificate_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Certificate ID.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_PGPCertificateInfoBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/inlineProcessors/{id}" : {
      "delete" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "DELETE custom processor with given {id}",
        "operationId" : "resource_CommunityExchangePointResource_removeInlineProcessor_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Custom processor ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/{id}/routingIds" : {
      "get" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Retrieve all the routing IDs of given party",
        "operationId" : "resource_TradingPartnerResource_getRoutingIds_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the party.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "A defined filter used for filtering the results. Available fields: type, id. Example: id='X12AXWAY'",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "Criterion for ordering the results. Optional, available fields: type, id. Default: id.",
          "required" : false,
          "type" : "string",
          "default" : "id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Add a routing ID to a party.\r\nExample:\r\n<pre>\r\n {\r\n \"routingId\": \"ZZAXWAY\"\r\n }\r\n </pre>",
        "operationId" : "resource_TradingPartnerResource_addRoutingId_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the party. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The RoutingIdBean to be added . <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_RoutingIdBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/exchange/trading/sftpSubDirectory" : {
      "put" : {
        "tags" : [ "TradingPartnerExchangePointResource" ],
        "description" : "Update SFTP subdirectory. Example:\r\n<pre>\r\n {\r\n \"sftpUserName\": \"PartnerSFTP\",\r\n \"subDirectory\": \"/path\",\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_TradingPartnerExchangePointResource_modifySftpSubDirectory_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Subdirectory information.  <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_SftpSubDirectoryBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/application/exchange/ftpSubDirectory/{id}" : {
      "get" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "GET FTP subdirectory information that has given {id}",
        "operationId" : "resource_ApplicationExchangePointResource_getFtpSubDirectory_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Subdirectory ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_FtpSubDirectoryBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "DELETE subdirectory with given {id} from FTP protocol",
        "operationId" : "resource_ApplicationExchangePointResource_removeFtpSubDirectory_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "FTP subdirectory ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/trading/pickup" : {
      "put" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "Update a pickup protocol. Example:\r\nExample:\r\n<pre>\r\n {\r\n \"@class\": \"FTPServer\",\r\n \"enabled\": true,\r\n \"businessProtocol\": \"AS3\",\r\n \"friendlyName\": \"FTP Trading Pickup\",\r\n \"backupMessages\": true,\r\n \"maxConcurrentConnections\": 100,\r\n \"metadataFixedItems\": {\r\n \"BusinessProtocol\": \"AS3\"\r\n },\r\n \"restrictConsumableFileSize\": false,\r\n \"maxConsumableFileSize\": 0,\r\n \"metatadaTemplate\": {\r\n \"defaultMetadataTemplate\": \"\",\r\n \"enabledByProtocol\": false,\r\n \"metadataTemplatePolicy\": \"NEVER\",\r\n \"priorityOverFixedAttributes\": false\r\n },\r\n \"useCommunityMessageDelivery\": false,\r\n \"useContentProcessing\": false,\r\n \"ediSplitterEnabled\": true,\r\n \"pickupGroupStatus\": null,\r\n \"pickupGroup\": null,\r\n \"remoteUrl\": \"ftp://Community@somehost.com:4022/path\",\r\n localPort\": 4022,\r\n \"defaultUser\": {\r\n \"userName\": \"axway\",\r\n \"password\": \"12345\",\r\n \"ftpSubDirectories\": [\"/pathaxway\"]\r\n },\r\n sequenced\": false,\r\n \"sequenceTimeoutSeconds\": 60,\r\n \"modifyFtpServerDirectory\": true,\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_CommunityExchangePointResource_updatePickupExchangePoint_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Pickup protocol update information. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_ConsumerExchangePointBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ConsumerExchangePointBean"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "501" : {
            "description" : "Feature is not implemented in the current version of the API."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/inlinePostProcessors/{id}" : {
      "delete" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "DELETE custom post processor with given {id}",
        "operationId" : "resource_CommunityExchangePointResource_removeInlinePostProcessor_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Custom post processor ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/application/exchange/sftpSubDirectory/{id}" : {
      "get" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "GET SFTP subdirectory information that has given {id}",
        "operationId" : "resource_ApplicationExchangePointResource_getSftpSubDirectory_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Subdirectory ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_SftpSubDirectoryBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "DELETE subdirectory with given {id} from SFTP protocol",
        "operationId" : "resource_ApplicationExchangePointResource_removeSftpSubDirectory_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SFTP subdirectory ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/services/outputs/components/{id}" : {
      "get" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Retrieve an additional Processing Step specified by a given ID.  <b>Required</b>.",
        "operationId" : "resource_DocumentServiceResource_getOutputComponent_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Processing Step associated to a Service output",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_DocumentServiceOutputComponentBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Remove an additional Processing Step with given ID from a specific Service output.",
        "operationId" : "resource_DocumentServiceResource_removeOutputComponent_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Processing Step to be deleted.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/agreements/documentAgreements/{id}/outputs" : {
      "get" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Returns the list of outputs specific to a document agreement. An output contains configuration parameters that\r\nspecify how the document will be delivered or enveloped.",
        "operationId" : "resource_AgreementResource_getDocumentAgreementOutputs_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the document agreement.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/services/outputs/component/configurations/{id}" : {
      "get" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Get the configuration parameters with given ID.",
        "operationId" : "resource_DocumentServiceResource_ConfigurationResource_getConfiguration_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID specifying the configuration parameters.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ConfigurationBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/services/{id}/outputs" : {
      "get" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Return the list of outputs for a Service with given ID.",
        "operationId" : "resource_DocumentServiceResource_getDocumentServiceOutputs_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Service. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/trading/ftpSubDirectory/{id}" : {
      "get" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "GET FTP subdirectory information that has given {id}",
        "operationId" : "resource_CommunityExchangePointResource_getFtpSubDirectory_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Subdirectory ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_FtpSubDirectoryBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "DELETE subdirectory with given {id} from FTP protocol",
        "operationId" : "resource_CommunityExchangePointResource_removeFtpSubDirectory_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "FTP subdirectory ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/application/exchange/{id}/inlinePostProcessors" : {
      "get" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "GET list with custom logic as an integral part of the post processing pipeline for the exchange point with {id}",
        "operationId" : "resource_ApplicationExchangePointResource_getInlinePostProcessors_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Exchange point ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "Add new custom processor as an integral part of the post processing pipeline for the exchange point with {id}.\r\nExample:\r\n<pre>\r\n {\r\n \"className\": \"com.axway.processor.InlineProcessor\",\r\n \"parameters\": null,\r\n \"description\": \"This is an inline processor\"\r\n }\r\n </pre>",
        "operationId" : "resource_ApplicationExchangePointResource_addInlinePostProcessor_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Exchange point ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Custom processor information. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_InlineProcessorBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/sshUser/{id}" : {
      "get" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Retrieve a SFTP User account owned by a party",
        "operationId" : "resource_TradingPartnerResource_getSshUser_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the SFTP User account.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_SshUserBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Remove a SFTP User account owned by a party",
        "operationId" : "resource_TradingPartnerResource_removeSshUser_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the SFTP User account.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/exchange/{id}/inlineProcessors" : {
      "get" : {
        "tags" : [ "TradingPartnerExchangePointResource" ],
        "description" : "GET list with custom logic as an integral part of the processing pipeline for the exchange point with {id}",
        "operationId" : "resource_TradingPartnerExchangePointResource_getInlineProcessors_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Exchange point ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "TradingPartnerExchangePointResource" ],
        "description" : "Add new custom processor as an integral part of the processing pipeline for the exchange point with {id}.\r\nExample:\r\n<pre>\r\n {\r\n \"className\": \"com.axway.processor.InlineProcessor\",\r\n \"parameters\": null,\r\n \"description\": \"This is an inline processor\"\r\n }\r\n </pre>",
        "operationId" : "resource_TradingPartnerExchangePointResource_addInlineProcessor_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Exchange point ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Custom processor information. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_InlineProcessorBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/{id}/subscriptions" : {
      "get" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Retrieve all trading partners subscribed under a community",
        "operationId" : "resource_CommunityResource_getSubscribedPartners_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the community.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/exchange/trading/ftpSubDirectory" : {
      "put" : {
        "tags" : [ "TradingPartnerExchangePointResource" ],
        "description" : "Update FTP subdirectory. Example:\r\n<pre>\r\n {\r\n \"ftpUserName\": \"Partner\",\r\n \"subDirectory\": \"/path\",\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_TradingPartnerExchangePointResource_modifyFtpSubDirectory_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Subdirectory information.  <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_FtpSubDirectoryBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/security/certificate/pgp/private/{id}/export" : {
      "get" : {
        "tags" : [ "CommunitySecurityResource" ],
        "description" : "Export private PGP certificate with specified {certificateId}.\r\nCertificate will be exported in .asc or .gpg format.",
        "operationId" : "resource_CommunitySecurityResource_exportPrivatePGPCertificate_GET",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Private certificate ID.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "isArmored",
          "in" : "query",
          "description" : "Tells us whether you want this certificate to be armoured or not. Optional. Default: false.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "password",
          "in" : "query",
          "description" : "Password for the store and certificate. Optional. Default: empty string.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/metadataprofile/{id}" : {
      "get" : {
        "tags" : [ "MetadataProfileResource" ],
        "description" : "Returns a Metadata Profile with the specified ID.",
        "operationId" : "resource_MetadataProfileResource_getMetadataProfile_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the desired metadataprofile profile. <b>Required</b>",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_MetadataProfileBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "MetadataProfileResource" ],
        "description" : "Deletes the Metadata Profile of given ID.",
        "operationId" : "resource_MetadataProfileResource_removeMetadataProfile_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID o the Metadata profile to be deleted. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/emailUsers/{id}" : {
      "get" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Returns the email user account with given ID.",
        "operationId" : "resource_TradingPartnerResource_getEmailUserBean_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user account. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_EmailUserBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Deletes an email user account that is no longer in use.",
        "operationId" : "resource_TradingPartnerResource_removeEmailUser_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the user account. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/messagingId/{id}" : {
      "get" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Retrieve a single messaging ID given by {id}",
        "operationId" : "resource_TradingPartnerResource_getMessagingId_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the messaging ID.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_MessagingIdBean"
            }
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Remove a party messaging ID having the ID {id}",
        "operationId" : "resource_TradingPartnerResource_removeMessagingId_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the messaging ID to be removed.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/schedules" : {
      "put" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "Update a given scheduler. Example:\r\n<pre>\r\n {\r\n \"dayOfWeek\": 1,\r\n \"startHour\": 0,\r\n \"startMinute\": 0,\r\n \"endMinute\": 59,\r\n \"endHour\": 23,\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_CommunityExchangePointResource_updateSchedule_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Scheduler information. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_ExchangePointScheduleBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/services/postDetectionComponent/configurations/arguments" : {
      "put" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Sets a value to a specific configuration parameter. Example:\r\n<pre>\r\n {\r\n \"name\": \"Input Format\",\r\n \"type\": \"b2bx.server.EnumParameter\",\r\n \"value\": \"0\",\r\n \"editable\": true,\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_DocumentServiceResource_ConfigurationResource_updateArgument_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Contains the argument and the value to be set. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_ConfigurationArgumentBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/{partyId}/trading/pickup/status" : {
      "put" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "Enable or disable all pickups for receiving partner messages. When disabling all pickups, the default pickup will\r\nnot be disabled.",
        "operationId" : "resource_CommunityExchangePointResource_changeStatusOnPickupExchanges_PUT",
        "parameters" : [ {
          "name" : "partyId",
          "in" : "path",
          "description" : "The ID of the community. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "enable",
          "in" : "query",
          "description" : "True to enable all trading pickups or false to disable all trading pickups. Optional, available values:\r\ntrue, false. Default false.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully."
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/agreements/documentAgreement/attributes/templates/{id}" : {
      "get" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Returns a specific attribute that has been added to the document agreement attributes template.",
        "operationId" : "resource_AgreementResource_getDocumentAttributeField_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the attribute.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_AttributeTemplateBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Removes from the document agreement attributes template the attribute specified by the unique identifier.",
        "operationId" : "resource_AgreementResource_deleteDocumentAttributeTemplate_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the attribute.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/services/component/{id}/configurations" : {
      "get" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Returns the configuration parameters of the component specified by the unique identifier. These parameters can be\r\nconfigured to specify the characteristics of the component.",
        "operationId" : "resource_DocumentServiceResource_ConfigurationResource_getConfigurationsForOwner_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the configuration owner.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/security/certificate/{id}/trust" : {
      "put" : {
        "tags" : [ "TradingPartnersSecurityResource" ],
        "description" : "Make a public certificate trusted by the community",
        "operationId" : "resource_TradingPartnersSecurityResource_trustCertificate_PUT",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The certificate ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "communityId",
          "in" : "query",
          "description" : "The community ID. <b>Required</b>.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "usage",
          "in" : "query",
          "description" : "Optional, available values: transport, trading. Default: transport.",
          "required" : false,
          "type" : "string",
          "default" : "transport"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully."
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/agreements/functionalGroups/{id}/sequenceNumbers" : {
      "get" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Returns the list of sequence numbers specific to a functional group agreement. Each of the sequence numbers\r\ncontains the counter for a specific generator. This applies only to EDIFACT and X12 outbound functional group\r\nagreements.",
        "operationId" : "resource_AgreementResource_getFunctionalGroupSequenceNumbers_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the functional group agreement. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "put" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Updates the counter for a generator on the specified functional group agreement . This applies only to EDIFACT and\r\nX12 outbound functional group agreements. Example:\r\n<pre>\r\n {\r\n \"value\": 999999,\r\n \"identifier\": \"GS06\"\r\n }\r\n </pre>",
        "operationId" : "resource_AgreementResource_modifyFunctionalGroupSequenceNumber_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the functional group agreement. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Contains the counter in the specific format. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_SequenceNumberBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners" : {
      "get" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Retrieve all parties",
        "operationId" : "resource_TradingPartnerResource_getParties_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "A defined filter used to filter the results. Available fields: _id, partyName, countryCode. Example: partyName='AXWAY'",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string",
          "default" : "partyName"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Add a party.\r\nExample:\r\n<pre>\r\n {\r\n \"primaryContact\":\r\n \t\t{\r\n \t\t\"primary\": true,\r\n \t\t\"name\": \"Interchange\",\r\n \t\t\"email\": \"Interchange@axway.com\",\r\n \t\t\"phone\": \"\",\r\n \t\t\"notes\": null,\r\n \t\t\"title\": null\r\n \t\t},\r\n \"enabled\": true,\r\n \"defaultRoutingId\":\r\n \t\t{\r\n \t\t\"type\": \"\",\r\n \t\t\"routingId\": \"Interchange\"\r\n \t\t},\r\n \"partyName\": \"Interchange\"\r\n }\r\n </pre>",
        "operationId" : "resource_TradingPartnerResource_addParty_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "A CommunityBean or a TradingPartnerBean.  <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_TradingPartnerBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_PartyBean"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          }
        },
        "x-axway" : { }
      },
      "put" : {
        "tags" : [ "TradingPartnerResource" ],
        "description" : "Update the information for a party.\r\nExample:\r\n<pre>\r\n {\r\n \"primaryContact\":\r\n \t\t{\r\n \t\t\"primary\": true,\r\n \t\t\"name\": \"Interchange\",\r\n \t\t\"email\": \"Interchange@axway.com\",\r\n \t\t\"phone\": \"\",\r\n \t\t\"notes\": null,\r\n \t\t\"title\": null\r\n \t\t},\r\n \"enabled\": true,\r\n \"defaultRoutingId\":\r\n \t\t{\r\n \t\t\"type\": \"\",\r\n \t\t\"routingId\": \"Interchange\"\r\n \t\t},\r\n \"partyName\": \"Interchange\",\r\n \"@id\": \"12345\r\n }\r\n </pre>",
        "operationId" : "resource_TradingPartnerResource_updateParty_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "The bean containing updates.  <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_TradingPartnerBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_PartyBean"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/application/exchange/pickup/{id}/addressing" : {
      "get" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "GET sender/receiver rules for consumed files by application pickup with given {id}",
        "operationId" : "resource_ApplicationExchangePointResource_getAddressingRules_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Application pickup ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_AddressingRulesBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "put" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "Update sender/receiver rules for files consumed by application pickup with given {id}. Example:\r\n<pre>\r\n {\r\n \"fromAddress\": {\r\n \"addressingAction\": \"USE_FIXED_PARTY\",\r\n \"parseEdi\": false,\r\n \"edifactUseInternal\": false,\r\n \"parseXml\": false,\r\n \"xpaths\": [],\r\n \"fixedPartyId\": \"123456\"\r\n },\r\n \"toAddress\": {\r\n \"addressingAction\": \"USE_METADATA_OR_PROTOCOL_ADDRESS\",\r\n \"parseEdi\": false,\r\n \"edifactUseInternal\": false,\r\n \"parseXml\": false,\r\n \"xpaths\": [],\r\n \"fixedPartyId\": null\r\n }\r\n }\r\n </pre>",
        "operationId" : "resource_ApplicationExchangePointResource_updateAddressingRules_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Application pickup ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Information about sender/receiver rules. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_AddressingRulesBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/exchange/trading/{id}/sftpSubDirectory" : {
      "get" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "GET subdirectories information for SFTP protocol with given {id}",
        "operationId" : "resource_CommunityExchangePointResource_getSftpSubDirectories_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SFTP protocol ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "CommunityExchangePointResource" ],
        "description" : "Add new subdirectory to SFTP protocol with given {id}. Example:\r\n<pre>\r\n {\r\n \"sftpUserName\": \"CommunitySFTP\",\r\n \"subDirectory\": \"/path\"\r\n }\r\n </pre>",
        "operationId" : "resource_CommunityExchangePointResource_addSftpSubDirectory_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SFTP protocol ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Subdirectory information. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_SftpSubDirectoryBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/security/{id}/certificate/pgp/public" : {
      "get" : {
        "tags" : [ "CommunitySecurityResource" ],
        "description" : "Retrieve all personal PGP certificates used by community with given {id}",
        "operationId" : "resource_CommunitySecurityResource_getPublicPGPCertificates_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Community ID.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/security/sshkeys/{id}" : {
      "get" : {
        "tags" : [ "CommunitySecurityResource" ],
        "description" : "Retrieve SSH key (public information) with given {id}",
        "operationId" : "resource_CommunitySecurityResource_getSshPublicKeyForPrivate_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SSH key ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_PublicKeyCredentialsBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "CommunitySecurityResource" ],
        "description" : "Delete from the system SSH key with given {id}",
        "operationId" : "resource_CommunitySecurityResource_deleteSshPrivateKey_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SSH key ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/agreements/component/{id}/configurations" : {
      "get" : {
        "tags" : [ "AgreementResource" ],
        "description" : "Returns the configuration parameters of the component specified by the unique identifier. These parameters can be\r\nconfigured to specify the characteristics of the component.",
        "operationId" : "resource_AgreementResource_ConfigurationResource_getConfigurationsForOwner_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the configuration owner.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/security/certificate/public/{id}/export" : {
      "get" : {
        "tags" : [ "CommunitySecurityResource" ],
        "description" : "Export trusted certificate with specified {id} from the system",
        "operationId" : "resource_CommunitySecurityResource_exportPublicCertificate_GET",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Trusted certificate ID. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Certificate format. Optional, available values:\r\n<ul>\r\n<li><i>.cer</i> DER encoded binary X.509</li>\r\n<li><i>.p7b,.p7c</i> Cryptographic Message Syntax Standard PKCS #7</li>\r\n</ul>Default: p7b.",
          "required" : false,
          "type" : "string",
          "default" : "p7b"
        }, {
          "name" : "includeChain",
          "in" : "query",
          "description" : "In case of <i>.p7b, .p7c</i> choose to include the other certificates in the chain. Optional, available values:\r\ntrue, false. Default: true.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "500" : {
            "description" : "Server error while processing request. See message details."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/application/exchange/inlineProcessors" : {
      "put" : {
        "tags" : [ "ApplicationExchangePointResource" ],
        "description" : "Update a given custom processor. Example:\r\n<pre>\r\n {\r\n \"className\": \"com.axway.processor.InlineProcessor\",\r\n \"parameters\": null,\r\n \"description\": \"This is an inline processor\",\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_ApplicationExchangePointResource_updateInlineProcessor_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Custom processor information. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_InlineProcessorBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/ftpUser/{id}" : {
      "get" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Retrieve a FTP User account owned by a party",
        "operationId" : "resource_CommunityResource_getFtpUserBean_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the FTP User account. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_FtpUserBean"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Remove a FTP User account owned by a party",
        "operationId" : "resource_CommunityResource_removeFtpUser_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the FTP User account. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/messagingId/{id}" : {
      "get" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Retrieve a single messaging ID given by {id}",
        "operationId" : "resource_CommunityResource_getMessagingId_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the messaging ID.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_MessagingIdBean"
            }
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "delete" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Remove a party messaging ID having the ID {id}",
        "operationId" : "resource_CommunityResource_removeMessagingId_DELETE",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the messaging ID to be removed.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Error removing object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "204" : {
            "description" : "Operation has been executed successfully."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/services/outputs/component/configurations/arguments" : {
      "put" : {
        "tags" : [ "DocumentServiceResource" ],
        "description" : "Sets a value to a specific configuration parameter. Example:\r\n<pre>\r\n {\r\n \"name\": \"Input Format\",\r\n \"type\": \"b2bx.server.EnumParameter\",\r\n \"value\": \"0\",\r\n \"editable\": true,\r\n \"@id\": \"123456\"\r\n }\r\n </pre>",
        "operationId" : "resource_DocumentServiceResource_ConfigurationResource_updateArgument_PUT",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Contains the argument and the value to be set. <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_ConfigurationArgumentBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been modified successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error modifying object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/communities/{id}/routingIds" : {
      "get" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Retrieve all the routing IDs of given party",
        "operationId" : "resource_CommunityResource_getRoutingIds_GET",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the party.  <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "A defined filter used for filtering the results. Available fields: type, id. Example: id='X12AXWAY'",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Return no more than n rows after skipping OFFSET m rows. Optional, default 10.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Skip first m rows after ordering. Optional, default 0.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "Criterion for ordering the results. Optional, available fields: type, id. Default: id.",
          "required" : false,
          "type" : "string",
          "default" : "id"
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been retrieved successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_CollectionResult"
            }
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      },
      "post" : {
        "tags" : [ "CommunityResource" ],
        "description" : "Add a routing ID to a party.\r\nExample:\r\n<pre>\r\n {\r\n \"routingId\": \"ZZAXWAY\"\r\n }\r\n </pre>",
        "operationId" : "resource_CommunityResource_addRoutingId_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the party. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The RoutingIdBean to be added . <b>Required</b>.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/json_RoutingIdBean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Object has been created successfully.",
            "schema" : {
              "$ref" : "#/definitions/json_ActionResult"
            }
          },
          "400" : {
            "description" : "Error creating object. Possible validation errors, see message details."
          },
          "401" : {
            "description" : "Username/password credentials are not valid."
          },
          "403" : {
            "description" : "User does not have the permissions required or operation is not allowed because of license restrictions."
          },
          "404" : {
            "description" : "Object not found."
          }
        },
        "x-axway" : { }
      }
    },
    "/tradingPartners/security/certificate/{id}/export" : {
      "get" : {
        "tags" : [ "TradingPartnersSecurityResource" ],
        "description" : "Export a certificate",
        "operationId" : "resource_TradingPartnersSecurityResource_exportPublicCertificate_GET",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the certificate to export. <b>Required</b>.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "format",
          "in" : "query",
[...]
