{
  "swagger" : "2.0",
  "info" : {
    "description" : "An API Builder service",
    "version" : "live",
    "title" : "Vehicule Mock API 26 11"
  },
  "host" : "traffic.axway-amplify-central.com",
  "basePath" : "/vehicule/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/vehicles/cars/brands" : {
      "get" : {
        "tags" : [ "Car and light Commercial Selector", "Authentication", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "brands",
        "description" : "This service enables you to retrieve all manufacturer brands depending on country code and account parameters.",
        "operationId" : "brands",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "country",
          "in" : "query",
          "description" : "country code (in lowercase)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 150,
          "maximum" : 150,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesCarsBrandsResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/mileage" : {
      "patch" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "update_mileage",
        "description" : "This service enables you to update the current and annual mileage (in kilometers) of a vehicle related to a CMB.\nIn the case there is an existing invoice related to a CMB, the new mileage must be superior than the mileage saved before if the invoice date is inferior than the day date.\nIf you want to modify the current mileage related to an existing past invoice, you must use “remove invoice” service or “Cancel and replace invoice” service.",
        "operationId" : "update_mileage",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookMileageRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookMileageResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/switch/maintenance/plan" : {
      "patch" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "switch_maintenance_plan",
        "description" : "This service allows you to change the maintenance plan type of a CMB according to the usage of the véhicule. .<br/>To determine the right maintenance plan to apply, you can use “recommended maintenance plan” service, and select the value from the following parameters  <br/>\n* `stricter_plan` recommended for severe conditions,<br/>\n* `less_mileage_plan` or `more_mileage_plan` depending on the average mileage, <br/>\n* `stricter_less_mileage_plan` or `stricter_more_mileage_plan` for both severe and average mileage conditions.<br/>",
        "operationId" : "switch_maintenance_plan",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookSwitchMaintenancePlanRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookSwitchMaintenancePlanResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/registration/information" : {
      "get" : {
        "tags" : [ "Car and light Commercial Selector", "Authentication", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "registrationInformation",
        "description" : "This service enables you to retrieve the administrative information by license plate for a vehicle, depending on country code and account parameter.",
        "operationId" : "registrationInformation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "licensePlate",
          "in" : "query",
          "description" : "Plate number",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "country code (in lowercase)",
          "required" : true,
          "type" : "string",
          "enum" : [ "fr", "it", "gb", "fi", "no", "se", "pt" ]
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesRegistrationInformationResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/standard/dtc/transcription" : {
      "get" : {
        "tags" : [ "Diagnostic Trouble Codes", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Dealer locator" ],
        "summary" : "standard_dtc_transcription",
        "description" : "Allows you to obtain the textual transcription of DTC codes",
        "operationId" : "standard_dtc_transcription",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "obd_codes",
          "in" : "query",
          "description" : "list of OBD code",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesCarsStandardDtcTranscriptionResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/dealers/locator/by/zipcode/town" : {
      "get" : {
        "tags" : [ "Dealer locator", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes" ],
        "summary" : "zipcode_town",
        "description" : "This service provides a service center list. Note that one of the postal code or town parameters must be completed",
        "operationId" : "zipcode_town",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Code pays (iso format)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "zipcode",
          "in" : "query",
          "description" : "Postal code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "town",
          "in" : "query",
          "description" : "town",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "network",
          "in" : "query",
          "description" : "sign networks",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerType",
          "in" : "query",
          "description" : "Type of service center",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "promotionalOffers",
          "in" : "query",
          "description" : "included promotional offers",
          "required" : false,
          "type" : "string",
          "enum" : [ "yes", "no" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "maximum" : 20,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/DealersLocatorByZipcodeTownResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/tobe/performed" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "maintenance_to_be_performed",
        "description" : "This service provides you with the operations to be performed for a created CMB. It will retrieve data related to your account parameters and depending on the information provided upstream.",
        "operationId" : "maintenance_to_be_performed",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "numberMonthForTimeline",
          "in" : "query",
          "description" : "Number of months in the timeline",
          "required" : false,
          "type" : "integer",
          "default" : 18,
          "maximum" : 60,
          "exclusiveMaximum" : false,
          "minimum" : 12,
          "exclusiveMinimum" : false,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MaintenanceTimelineToBePerformed"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "maintenance_to_be_performed_add",
        "description" : "This service allows you to add external operations to a CMB.\n\nNote :<br>\nthat for each operation to add the `mileage` or` maintenance_date` property must be populated.<br/>\nIf the mileage is not filled, it will be calculated, ditto if the date is not filled, it will be calculated. <br/>\nfamily and category property cannot be null.",
        "operationId" : "maintenance_to_be_performed_add",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceTobePerformedRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MaintenanceTimelineToBePerformed"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "maintenance_to_be_performed_remove",
        "description" : "Service to remove an external predictive operation from a CMB.",
        "operationId" : "maintenance_to_be_performed_remove",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceTobePerformedRequest1"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/brands/{id}/models" : {
      "get" : {
        "tags" : [ "Car and light Commercial Selector", "Authentication", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "models",
        "description" : "This service enables you to retrieve all models depending on brand Id parameter.",
        "operationId" : "models",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID brand",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 150,
          "maximum" : 150,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesCarsBrandsModelsResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/auth" : {
      "post" : {
        "tags" : [ "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "authentification",
        "description" : "If authentication is successful, a JWT token is returned. This token must be decoded (with Javascript/PHP/Java or other langage library) to access the payload part :\n\n\n    {\n        \"iss\": \"vds-api\",\n        \"jti\": \"5c66897a1c226\",\n        \"iat\": 1550223738,\n        \"exp\": 1550223978,\n        \"customer_code\": \"VDS-API\",\n        \"customer_api_key\": \"2i56phKJ81tx386VJTU1N21v8817dgOQ\",\n        \"customer_raison_sociale\": \"V DATA SERVICES TEST\"\n    }\n\nThe **exp** field contains the expiration time of the token (timestamp).  After this time the token become invalid, so the API consumer should retrieve a new token  before expiration time.\n\nFor all the next requests to the API, these HTTP headers must be defined :\n| Header | Value |\n|-----|-----|\n| VDS-API-KEY     | token field value of **customer_api_key**  |\n| Authorization   | Bearer **token** |\n\nTo know more on JWT Token, see https://jwt.io/",
        "operationId" : "authentification",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AuthRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AuthResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/version_by_plate" : {
      "get" : {
        "tags" : [ "Car and light Commercial Selector", "Authentication", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "versionsByPlate",
        "description" : "This service enables you to retrieve a version by license plate, depending on country code and account parameter, as well as the availability of the data. <br /><br />**IMPORTANT** In some cases, an error code can be returned if several version id are found. You must then choose one based on additional criteria you may have on your side or select the first one assuming there is no difference.",
        "operationId" : "versionsByPlate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "licensePlate",
          "in" : "query",
          "description" : "Plate number",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "country code (in lowercase)",
          "required" : true,
          "type" : "string",
          "enum" : [ "fr", "it", "gb", "fi", "no", "se", "pt" ]
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Version"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/plan/recommended" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "maintenance_plan_recommended",
        "description" : "Service that determines for a car or light commercial vehicle the optimal maintenance plan according to the conditions of use registered.",
        "operationId" : "maintenance_plan_recommended",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "annual_average_mileage",
          "in" : "query",
          "description" : "Average annual mileage",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "urban_use",
          "in" : "query",
          "description" : "Mainly urban trips (average speed < 25 km/h)",
          "required" : true,
          "type" : "string",
          "enum" : [ "yes", "no" ]
        }, {
          "name" : "multiple_daily_startups",
          "in" : "query",
          "description" : "More than 8 startups per day",
          "required" : true,
          "type" : "string",
          "enum" : [ "yes", "no" ]
        }, {
          "name" : "cold_engine_trips",
          "in" : "query",
          "description" : "Frequent daily journeys of less than 10 km after stop of 1 hour or more",
          "required" : true,
          "type" : "string",
          "enum" : [ "yes", "no" ]
        }, {
          "name" : "extreme_conditions",
          "in" : "query",
          "description" : "Long usage in extreme conditions (>30°C or <15°C or sand/dust)",
          "required" : true,
          "type" : "string",
          "enum" : [ "yes", "no" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenancePlanRecommendedResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/brands/autocomplete" : {
      "get" : {
        "tags" : [ "Car and light Commercial Selector", "Authentication", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "brandsAutocomplete",
        "description" : "This service enables you to retrieve all manufacturer brands by autocompletion depending on country code and account parameters.",
        "operationId" : "brandsAutocomplete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "country",
          "in" : "query",
          "description" : "country code (in lowercase)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "text to search",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 150,
          "maximum" : 150,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesCarsBrandsAutocompleteResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/dealers/locator/dealer/types" : {
      "get" : {
        "tags" : [ "Dealer locator", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes" ],
        "summary" : "dealer_type",
        "description" : "This service provides the types of service centers by country",
        "operationId" : "dealer_type",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Country code (iso format)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "maximum" : 20,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/DealersLocatorDealerTypesResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}//summary/revisions/tobe/performed" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "summary_revision_to_be_performed",
        "description" : "This service provides a summary of the revisions to be performed.\nBe careful, before using this service you must have asked for the timeline of future maintenance.",
        "operationId" : "summary_revision_to_be_performed",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookSummaryRevisionsTobePerformedResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/tires/sizes/by/version/{id}" : {
      "get" : {
        "tags" : [ "Car tires sizes", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "car_tires_sizes_by_version",
        "description" : "This service makes it possible to obtain the list of tire dimensions for cars or light commercial  vehicles from a car version.",
        "operationId" : "car_tires_sizes_by_version",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID version",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/invoices/cancel/and/replace" : {
      "post" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "cancel_replace_invoice",
        "description" : "Note that you will not be able to modify only one of the required parameters of an existing invoice. To do so you must use this service which enables you cancel and replace an existing invoice.",
        "operationId" : "cancel_replace_invoice",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceInvoicesCancelAndReplaceRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceInvoicesCancelAndReplaceResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/alerts" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "cmb_maintenance_alerts",
        "description" : "This service enables you to get the alerts computed for a time period, based on information recorded.",
        "operationId" : "cmb_maintenance_alerts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "alertBeginDate",
          "in" : "query",
          "description" : "Interval start date for calculating alerts (must be greater than the maintenance book creation date)",
          "required" : true,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "alertEndDate",
          "in" : "query",
          "description" : "End date interval for calculating alerts",
          "required" : true,
          "type" : "string",
          "format" : "date"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookAlertsResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book" : {
      "post" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "maintenance_book_create",
        "description" : "If **manufactureDate** is not defined in the request, by default it will be assigned to **firstRegistrationDate** value.\n\nIf both **manufactureDate** and **firstRegistrationDate** are defined, **manufactureDate** must be inferior to **firstRegistrationDate**\n\n**externalId** is your identifier. If you fill this identifier you can use it for all other services of the CMB.\n\nBe careful, creating a car maintenance book can take up to 20 seconds. To avoid the wait you can use the **callBack** property, an object in json format will be posted to you after the complete creation of a CMB. As this property is mandatory, either you enter a valid URL, or, if you don't want to use a callback, simply enter an empty value.\n\nIf the **annualAverageMileage** property is zero then the vehicle's average annual mileage will automatically be calculated.\n\n**Genre**  is defined by the type of vehicle: particular (VP) or light commercial (VU). This information is provided by the Vehicle Selector.\n**SevereCondition** is defined by the way the vehicle is used. To do so, refer to your end-user.\n\n**LonglifeProgram** refers to the type of the last servicing performed on the vehicle: to define the value “Y” or “N”, please refer to your end-user depending on the last servicing performed.\nBoth **severeCondition** and **longlifeProgram** parameters also depend on manufacturers guidelines per vehicle.\n\n\n**Please** note that you must call for **method** **GET** **maintenance** **operations** immediately  after getting the information related to the car maintenance book created previously.  Otherwise, you may get error messages for some of the following services.",
        "operationId" : "maintenance_book_create",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "unprocessable entity",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/past/not/performed" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "maintenance_past_not_performed",
        "description" : "Past maintenance operations timeline not performed\nThis service provides you with the past operations not performed from the creation of a CMB. It will retrieve data related to your account parameters.\nBy default, we assume the vehicle has been serviced according to the official recommendations of the manufacturer. See “Add maintenance operation” service to update the history of the vehicle.",
        "operationId" : "maintenance_past_not_performed",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "numberMonthForTimeline",
          "in" : "query",
          "description" : "Number of months in the timeline",
          "required" : false,
          "type" : "integer",
          "default" : 18,
          "maximum" : 36,
          "exclusiveMaximum" : false,
          "minimum" : 12,
          "exclusiveMinimum" : false,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MaintenanceTimelineToBePerformed"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/tires/sizes/by/national/code" : {
      "get" : {
        "tags" : [ "Car tires sizes", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "car_tires_sizes_by_national_code",
        "description" : "This service makes it possible to obtain the list of tire dimensions for cars or light commercial  vehicles from a national code (registration or Kba).\n\nThis service works for the following country codes: fr, it,  gb,  pt, fi, se, no",
        "operationId" : "car_tires_sizes_by_national_code",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "nationalCode",
          "in" : "query",
          "description" : "registration or Kba",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CarTireSizes"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/disable" : {
      "patch" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "disable_cmb",
        "description" : "This service enables you to deactivate a car maintenance book. When disabling a car maintenance book, no further updating operation is possible.\nSee “Enable car maintenance book” service to get it back. Note that a disabled CMB will permanently be deleted 12 months after the date of deactivation.\nIf the maintenance book is disabled, no further update operation will be possible.",
        "operationId" : "disable_cmb",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "202" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookDisableResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/performed" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "cmb_maintenance_performed",
        "description" : "This service enables you to retrieve all the recorded maintenance operations for a CMB.",
        "operationId" : "cmb_maintenance_performed",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenancePerformedResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/models/{id}/versions" : {
      "get" : {
        "tags" : [ "Car and light Commercial Selector", "Authentication", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "versions",
        "description" : "This service enables you to retrieve all versions depending on model Id parameter.",
        "operationId" : "versions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID model",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 150,
          "maximum" : 150,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesCarsModelsVersionsResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/invoices" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "cmb_invoices",
        "description" : "This service enables you to retrieve the list of invoices related to a CMB.",
        "operationId" : "cmb_invoices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceInvoicesResponse1"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "add_invoice",
        "description" : "This service enables you to add a maintenance operation to a CMB.<br/> When adding an invoice, the mileage is automatically updated with the information provided.<br/> In the case there is an existing invoice related to a CMB, the new mileage must be superior than the mileage saved before if the invoice date is prior to the present date.<br/> If you want to modify the current mileage related to an existing past invoice, you must use **remove invoice** service or **Cancel and replace invoice** service.",
        "operationId" : "add_invoice",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceInvoicesRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceInvoicesResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "cmb_invoices_remove",
        "description" : "This service enables you to remove an existing invoice related to a CMB.",
        "operationId" : "cmb_invoices_remove",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/VehiclesMaintenanceBookMaintenanceInvoicesRequest1"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/cars/information" : {
      "get" : {
        "tags" : [ "Car and Light Commercial Vehicle Datasheet", "Authentication", "Car and light Commercial Selector", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "vehicle_sheet",
        "description" : "This service allows to retrieve information related to an identified vehicle and organized by data blocks: \"standard\", \"description\", \"general\",\"technical\", \"administrative\",\"connectivity”, “rims and tires”. <br/><br/>Vehicle datasheet is available by Version Id if you have previously identified the vehicle using Brands/models/versions directory or by license Plate. In the case the service “version_by_plate” returns several version Ids, you must then use both “VersionId + licensePlate” as mandatory parameters to retrieve the vehicle datasheet.",
        "operationId" : "vehicle_sheet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "versionId",
          "in" : "query",
          "description" : "UUID vehicle version",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "licensePlate",
          "in" : "query",
          "description" : "License plate number",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "",
          "required" : false,
          "type" : "string",
          "default" : "fr"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehicleSheet"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/maintenance/operations" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "Maintenance_operations",
        "description" : "This service provides you with all the operations that can be performed on a specific vehicle and classified by families and categories.",
        "operationId" : "Maintenance_operations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MaintenanceOperation"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "412" : {
            "description" : "Precondition failed",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/vehicles/maintenance_book/{id}/average/annual/milage/computed" : {
      "get" : {
        "tags" : [ "Car and light Commercial maintenance Book (CMB)", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Diagnostic Trouble Codes", "Dealer locator" ],
        "summary" : "calculated_average_annual_mileage",
        "description" : "Service to calculate the average annual mileage of a CMB",
        "operationId" : "calculated_average_annual_mileage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID car maintenance book or your Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/VehiclesMaintenanceBookAverageAnnualMilageComputedResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/dealers/locator/networks" : {
      "get" : {
        "tags" : [ "Dealer locator", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes" ],
        "summary" : "networks",
        "description" : "This service provides a list of signage networks",
        "operationId" : "networks",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Code pays (iso format)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "builder",
          "in" : "query",
          "description" : "Allows filtering of sign networks that are only constructors, or that are not builders or that include builders",
          "required" : false,
          "type" : "string",
          "enum" : [ "only", "without", "with" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "maximum" : 20,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/DealersLocatorNetworksResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/dealers/locator/by/geolocation" : {
      "get" : {
        "tags" : [ "Dealer locator", "Authentication", "Car and light Commercial Selector", "Car and Light Commercial Vehicle Datasheet", "Car tires sizes", "Car and light Commercial maintenance Book (CMB)", "Diagnostic Trouble Codes" ],
        "summary" : "géolocation",
        "description" : "This service provides a service center list from geospatial coordinates.",
        "operationId" : "géolocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
          "required" : false,
          "type" : "string",
          "enum" : [ "fr-fr" ]
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Code pays (iso format)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "latitude",
          "in" : "query",
          "description" : "Latitude coordinate",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "longitude",
          "in" : "query",
          "description" : "Longitude coordinate",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "distance",
          "in" : "query",
          "description" : "Search perimeter (expressed in kilometers)",
          "required" : true,
          "type" : "number",
          "maximum" : 100,
          "exclusiveMaximum" : false,
          "format" : "double"
        }, {
          "name" : "network",
          "in" : "query",
          "description" : "sign networks",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerType",
          "in" : "query",
          "description" : "Type of service center",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "promotionalOffers",
          "in" : "query",
          "description" : "included promotional offers",
          "required" : false,
          "type" : "string",
          "enum" : [ "yes", "no" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Current page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items per page",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "maximum" : 150,
          "exclusiveMaximum" : false,
          "minimum" : 1,
          "exclusiveMinimum" : false,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/DealersLocatorByGeolocationResponse"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Authentication error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "AuthRequest" : {
      "type" : "object",
      "properties" : {
        "clientId" : {
          "type" : "string",
          "example" : "GhR0x4V3G2q3fdWeyOJ1HUqMMU"
        },
        "clientSecret" : {
          "type" : "string",
          "example" : "MmyJsR9zzdpuYqEV3G2q3fdWey"
        }
      },
      "title" : "AuthRequest"
    },
    "Invoice" : {
      "type" : "object",
      "required" : [ "maintenance_date", "maintenances", "mileage" ],
      "properties" : {
        "external_id" : {
          "type" : "string",
          "example" : "MY-INVOICE-ID",
          "description" : "Your invoice identifier"
        },
        "title" : {
          "type" : "string",
          "example" : "my first revision",
          "description" : "Invoice name"
        },
        "amount_ttc" : {
          "type" : "object",
          "example" : 188.1,
          "description" : "Amount including all taxes including maintenance operations",
          "properties" : { }
        },
        "amount_ht" : {
          "type" : "object",
          "example" : 156.75,
          "description" : "Non-tax amount of maintenance operations",
          "properties" : { }
        },
        "maintenance_date" : {
          "type" : "string",
          "format" : "date",
          "example" : "2019-04-23",
          "description" : "Date on which the maintenance operations were carried out"
        },
        "mileage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 32040,
          "description" : "mileage at which maintenance operations were performed"
        },
        "maintenances" : {
          "type" : "array",
          "description" : "List of maintenance operations performed",
          "items" : {
            "$ref" : "#/definitions/Maintenance"
          }
        }
      },
      "title" : "Invoice"
    },
    "Address" : {
      "type" : "object",
      "properties" : {
        "main_address" : {
          "type" : "string",
          "description" : "Main adress"
        },
        "additional_address" : {
          "type" : "string",
          "description" : "Additional address"
        },
        "zipcode" : {
          "type" : "string",
          "description" : "Postal code"
        },
        "town" : {
          "type" : "string",
          "description" : "Twon"
        },
        "country" : {
          "type" : "string",
          "description" : "country code (iso format)"
        },
        "latitude" : {
          "type" : "number",
          "format" : "double",
          "description" : "Latitude coordinate"
        },
        "longitude" : {
          "type" : "number",
          "format" : "double",
          "description" : "Longitude coordinate"
        }
      },
      "title" : "Address"
    },
    "promotionalOffers" : {
      "type" : "string",
      "title" : "promotionalOffers",
      "enum" : [ "yes", "no" ]
    },
    "Invoice1" : {
      "type" : "object",
      "required" : [ "id", "maintenance_date", "maintenances", "mileage" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "example" : "MY-INVOICE-ID",
          "description" : "Your invoice identifier or VDS Identifier"
        },
        "title" : {
          "type" : "string",
          "example" : "my first revision",
          "description" : "Invoice name"
        },
        "amount_ttc" : {
          "type" : "object",
          "example" : 188.1,
          "description" : "Amount including all taxes including maintenance operations",
          "properties" : { }
        },
        "amount_ht" : {
          "type" : "object",
          "example" : 156.75,
          "description" : "Non-tax amount of maintenance operations",
          "properties" : { }
        },
        "maintenance_date" : {
          "type" : "string",
          "format" : "date",
          "example" : "2019-04-23",
          "description" : "Date on which the maintenance operations were carried out"
        },
        "mileage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 32040,
          "description" : "mileage at which maintenance operations were performed"
        },
        "maintenances" : {
          "type" : "array",
          "description" : "List of maintenance operations performed",
          "items" : {
            "$ref" : "#/definitions/Maintenance"
          }
        }
      },
      "title" : "Invoice1"
    },
    "VehiclesCarsStandardDtcTranscriptionResponse" : {
      "type" : "object",
      "properties" : {
        "records" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TranscriptionObd"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "VehiclesCarsStandardDtcTranscriptionResponse"
    },
    "TyresPneumaticPressure" : {
      "type" : "object",
      "properties" : {
        "bar" : {
          "type" : "string",
          "example" : "2.20",
          "description" : "Presssure in Bar unit (may be empty)"
        },
        "psi" : {
          "type" : "string",
          "example" : "31.9",
          "description" : "Presssure in PSI unit (may be empty)"
        }
      },
      "title" : "TyresPneumaticPressure"
    },
    "TranscriptionObd" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "example" : "P0001",
          "description" : "obd code"
        },
        "title" : {
          "type" : "string",
          "example" : "Fuel Volume Regulator Control Circuit\\/Open",
          "description" : "description obd code"
        }
      },
      "title" : "TranscriptionObd",
      "description" : "Vehicle car tires size"
    },
    "Pneumatic" : {
      "type" : "object",
      "properties" : {
        "marking" : {
          "type" : "string",
          "example" : "145/70 R 13 S"
        },
        "location" : {
          "type" : "string",
          "example" : "Front"
        },
        "height" : {
          "type" : "string",
          "example" : "145"
        },
        "width" : {
          "type" : "string",
          "example" : "70"
        },
        "diameter" : {
          "type" : "string",
          "example" : "13",
          "description" : "Diameter (feet)"
        },
        "rimSize" : {
          "type" : "string",
          "example" : "13",
          "description" : "Rim size (feet)"
        },
        "speed_index" : {
          "type" : "string",
          "example" : "T"
        },
        "load_index" : {
          "type" : "string",
          "example" : "81"
        },
        "regular_load_pressure" : {
          "$ref" : "#/definitions/TyresPneumaticPressure"
        },
        "extra_load_pressure" : {
          "$ref" : "#/definitions/TyresPneumaticPressure"
        },
        "usage" : {
          "type" : "string",
          "example" : "summer and winter"
        }
      },
      "title" : "Pneumatic",
      "description" : "Pneumatic schema"
    },
    "VehiclesMaintenanceBookMileageResponse" : {
      "type" : "object",
      "properties" : {
        "reccords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reccord1"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "VehiclesMaintenanceBookMileageResponse"
    },
    "Maintenance1" : {
      "type" : "object",
      "properties" : {
        "family" : {
          "type" : "string",
          "description" : "maintenance operation family ID"
        },
        "nameFamily" : {
          "type" : "string",
          "description" : "maintenance operation family name"
        },
        "category" : {
          "type" : "string",
          "description" : "maintenance operation category ID"
        },
        "name_category" : {
          "type" : "string",
          "description" : "maintenance operation category name"
        },
        "amountTtc" : {
          "type" : "object",
          "description" : "Amount including all taxes including maintenance operation",
          "properties" : { }
        },
        "amountHt" : {
          "type" : "object",
          "description" : "Non-tax amount of maintenance operation",
          "properties" : { }
        }
      },
      "title" : "Maintenance1"
    },
    "VehiclesMaintenanceBookMaintenancePlanRecommendedResponse" : {
      "type" : "object",
      "properties" : {
        "reccords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reccord2"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "VehiclesMaintenanceBookMaintenancePlanRecommendedResponse"
    },
    "cold_engine_trips" : {
      "type" : "string",
      "title" : "cold_engine_trips",
      "enum" : [ "yes", "no" ]
    },
    "TypePlan" : {
      "type" : "string",
      "title" : "TypePlan",
      "enum" : [ "normal_plan", "stricter_plan", "longLife_plan", "less_mileage_plan", "more_mileage_plan", "stricter_less_mileage_plan", "stricter_more_mileage_plan" ]
    },
    "MaintenanceProgramsAvailable" : {
      "type" : "object",
      "properties" : {
        "program_inspection" : {
          "type" : "boolean",
          "example" : true
        },
        "program_aditional_maintenance" : {
          "type" : "boolean",
          "example" : true
        },
        "program_mandatory" : {
          "type" : "boolean",
          "example" : true
        }
      },
      "title" : "MaintenanceProgramsAvailable",
      "description" : "Maintenance programs available for the vehicle"
    },
    "DealersLocatorNetworksResponse" : {
      "type" : "object",
      "properties" : {
        "reccords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reccord12"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "DealersLocatorNetworksResponse",
      "example" : {
        "reccords" : [ {
          "name" : "123 AUTOSERVICE",
          "builder" : "No"
        }, {
          "name" : "ABARTH",
          "builder" : "No"
        }, {
          "name" : "AD",
          "builder" : "No"
        }, {
          "name" : "A+GLASS",
          "builder" : "No"
        }, {
          "name" : "ALFA ROMEO",
          "builder" : "Yes"
        } ]
      }
    },
    "Technical" : {
      "type" : "object",
      "properties" : {
        "engineVolume" : {
          "type" : "number",
          "format" : "double",
          "example" : 1.2
        },
        "tpGearbox" : {
          "type" : "string",
          "example" : "MECANIQUE",
          "description" : "Gearbox type (may be null)"
        },
        "numberRatioGearbox" : {
          "type" : "string",
          "example" : "5",
          "description" : "Number of gears (may be null)"
        },
        "drive_axle_position" : {
          "type" : "string",
          "example" : "AVANT",
          "description" : "drive axle position type (may be null)"
        },
        "clean_up_system" : {
          "type" : "string",
          "example" : "OUI",
          "description" : "vehicle clean-up"
        },
        "turbo" : {
          "type" : "string",
          "example" : "OUI",
          "description" : "vehicle equipped with a turbo"
        },
        "oils" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Oil"
          }
        }
      },
      "title" : "Technical"
    },
    "cmb" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "UUID car mainteance book or your identifier"
        },
        "finalized" : {
          "type" : "boolean",
          "example" : true,
          "description" : "Indicates whether the car maintenance book is finalized or not"
        },
        "enable" : {
          "type" : "boolean",
          "example" : true,
          "description" : "Indicates whether the car maintenance book is enable or not"
        },
        "dateDisable" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date of disabled the car maintenance book"
        },
        "creationDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-04-11T19:25:51.000Z",
          "description" : "Date created the car maintenance book"
        },
        "lastUpdate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-04-11T19:26:05.000Z",
          "description" : "Date last update the car maintenance book"
        },
        "conditionUseOfVehicle" : {
          "$ref" : "#/definitions/ConditionUseOfVehicle"
        },
        "scheduleInformations" : {
          "$ref" : "#/definitions/ScheduleInformations"
        }
      },
      "title" : "cmb",
      "description" : "Entity car maintenance book"
    },
    "Accept-Language" : {
      "type" : "string",
      "title" : "Accept-Language",
      "description" : "Allows you to set the working language (localization). If defined, must be in iso format (Ex **fr-fr**). By default **fr-fr** is used.",
      "enum" : [ "fr-fr" ]
    },
    "VehiclesMaintenanceBookMaintenanceTobePerformedRequest1" : {
      "type" : "object",
      "required" : [ "preventive_maintenance" ],
      "properties" : {
        "preventive_maintenance" : {
          "$ref" : "#/definitions/PreventiveMaintenance"
        }
      },
      "title" : "VehiclesMaintenanceBookMaintenanceTobePerformedRequest1"
    },
    "Description" : {
      "type" : "object",
      "properties" : {
        "numberDoor" : {
          "type" : "string",
          "example" : "3",
          "description" : "Number of doors (may be null)"
        },
        "numberSeat" : {
          "type" : "string",
          "example" : "4",
          "description" : "Number of seat (may be null)"
        },
        "bodyType" : {
          "type" : "string",
          "example" : "CI",
          "description" : "body type"
        },
        "type" : {
          "type" : "string",
          "example" : "VL",
          "description" : "Vehicle type"
        },
        "generation" : {
          "type" : "string",
          "description" : "Vehicle generation"
        },
        "segment" : {
          "type" : "string",
          "description" : "Vehicle segment"
        },
        "fuel" : {
          "type" : "string",
          "example" : "ESSENCE",
          "description" : "Fuel type"
        }
      },
      "title" : "Description"
    },
    "MaintenanceOperation" : {
      "type" : "object",
      "properties" : {
        "records" : {
          "type" : "array",
          "items" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/MaintenancePlanItem"
            }
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination1"
        }
      },
      "title" : "MaintenanceOperation",
      "description" : "tobe performed maintenance timeline"
    },
    "Data2" : {
      "type" : "object",
      "required" : [ "mileage" ],
      "properties" : {
        "mileage" : {
          "type" : "integer",
          "format" : "int32"
        },
        "annualAverageMileage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 0,
          "default" : 0
        }
      },
      "title" : "Data2"
    },
    "Data3" : {
      "type" : "object",
      "required" : [ "type_plan" ],
      "properties" : {
        "type_plan" : {
          "$ref" : "#/definitions/TypePlan"
        }
      },
      "title" : "Data3"
    },
    "VehiclesMaintenanceBookSummaryRevisionsTobePerformedResponse" : {
      "type" : "object",
      "properties" : {
        "reccords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reccord"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "VehiclesMaintenanceBookSummaryRevisionsTobePerformedResponse"
    },
    "Data1" : {
      "type" : "object",
      "required" : [ "category", "family", "name_category", "name_family" ],
      "properties" : {
        "family" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 1018
        },
        "name_family" : {
          "type" : "string",
          "example" : "Habitacle"
        },
        "category" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 77010
        },
        "name_category" : {
          "type" : "string",
          "example" : "Balais essuie-glace"
        },
        "action_description" : {
          "type" : "string"
        },
        "action" : {
          "type" : "string",
          "example" : "Remplacer"
        },
        "mileage" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 109500
        },
        "maintenance_date" : {
          "type" : "string",
          "format" : "date"
        }
      },
      "title" : "Data1"
    },
    "VehiclesMaintenanceBookMaintenanceInvoicesResponse" : {
      "type" : "object",
      "properties" : {
        "reccords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reccord4"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "VehiclesMaintenanceBookMaintenanceInvoicesResponse"
    },
    "builder" : {
      "type" : "string",
      "title" : "builder",
      "enum" : [ "only", "without", "with" ]
    },
    "Administratif" : {
      "type" : "object",
      "properties" : {
        "yearModel" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 2003,
          "description" : "Model year (may be null)"
        },
        "firstRegistrationDate" : {
          "type" : "string",
          "format" : "date",
          "example" : "2003-03-04",
          "description" : "First Registration Date (may be null)"
        },
        "lastRegistrationDate" : {
          "type" : "string",
          "format" : "date",
          "example" : "2003-03-04",
          "description" : "Last Registration Date (may be null)"
        },
        "vin" : {
          "type" : "string",
          "example" : "VSSZZZ5FZFR115022",
          "description" : "Vehicle Identification Number, registration card is a unique number assigned to each vehicle"
        },
        "cnit" : {
          "type" : "string",
          "example" : "M10SETVP003J060",
          "description" : "National identification number (France only)"
        },
        "lastMot" : {
          "type" : "string",
          "format" : "date",
          "example" : "2018-12-01",
          "description" : "Last technical control Date (may be null)"
        }
      },
      "title" : "Administratif"
    },
    "DealersLocatorDealerTypesResponse" : {
      "type" : "object",
      "properties" : {
        "reccords" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reccord11"
          }
        },
        "metadata" : {
          "$ref" : "#/definitions/MetadataPagination"
        }
      },
      "title" : "DealersLocatorDealerTypesResponse",
      "example" : {
        "reccords" : [ {
          "code" : "Official-dealer",
          "name" : "Concessionnaire"
        }, {
          "code" : "Official-agent",
          "name" : "Agent"
        } ],
        "metadata" : {
          "total" : 11,
          "page" : 1,
          "limit" : 2
        }
      }
    },
    "LonglifeProgram" : {
      "type" : "string",
      "title" : "LonglifeProgram",
      "enum" : [ "y", "n" ]
    },
    "Reccord7" : {
      "type" : "object",
      "properties" : {
        "year" : {
          "type" : "string",
          "description" : "year maintenance operation"
        },
        "month" : {
          "type" : "string",
[...]
